#canvas, #video {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px; /* This is half the width */
	margin-top: -200px; /* This is half the height */
	z-index: 2; 
}

.titulo {
	text-align: center;
	font-family: "Clip";
	font-size: 30px;
}

@font-face {
	font-family: "Clip";
	src: url("./assets/fonts/clipRegular.ttf") format('truetype');
}

body {
	z-index: 1;
	background: url("./assets/background.jpeg");
}